:root {
  --cell-width: 2.7vh;
  --current-cell-offset: 6vh;
}
@font-face {
  font-family: 'pump';
  src: url('assets/PumpRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,body {
  height: 100%;
  background-color: black;
}
.banner {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 4vh;
  font-family: 'Abril Fatface', cursive;
}
.copied {
  visibility: hidden;
  background-color: #121213;
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 5px;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.resultcontainer {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
}
.result {
  background-color: #121213;
  color: white;
  position: absolute;
  min-width:30%;
  max-width:30%;
  top: 30%;
  left: 50%;
  height: 10%;
  transform: translate(-50%);
  border-radius: 5px;
  padding: 20px;
}
.share {
  display: flex;
  background-color: green;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  padding-top: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}
.shareicon {
  color: white;
}
.button {
  text-align: center;
  width: 100%;
}
.tip {
  font-size: 15px;
  color: white;
  text-align: center;
}
.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.grid {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.8vh;
  padding-bottom: var(--cell-width);
}
.current {
  padding-top: calc(var(--cell-width) * 3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  padding-bottom: calc(var(--cell-width) * 2);
}
.currentcell, .cell {
  color: white;
  border: 1px solid #413839;
  height: var(--cell-width);
  line-height: var(--cell-width);
  width: var(--cell-width);
  font-size: var(--cell-width);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  text-transform: uppercase;
  pointer-events: none;
}
.activecell {
  border: 1px solid white;
  pointer-events: all;
  cursor: pointer;
}
.completecell {
  border: 1px solid white;
  pointer-events: none;
  filter: blur(0.8px);
}
.activecell:hover {
  background-color: #413839;
}

.currentcell {
  border: 1px solid white;
  background-color: grey;
}
.emptycell {
  border: none;
  height: var(--cell-width);
  line-height: var(--cell-width);
  width: var(--cell-width);
  padding: 10px;
}
.flip {
  perspective: 1000px;
  transform: rotateY(360deg);
  transition: transform .85s ease-in-out;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
}
