:root {
  --cell-width: 2.7vh;
  --current-cell-offset: 6vh;
}
html,body {
  height: 100%;
  background-color: black;
}
.banner {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3vh;
}
.score {
  display: none;
  border: 1px solid white;
  background-color: grey;
  color: white;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  height: 10%;
  transform: translate(-50%);
  border-radius: 5px;
  padding-top: 10px;
}
.button {
  text-align: center;
}
.tip {
  font-size: 15px;
  color: white;
  text-align: center;
}
.container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.grid {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 0.8vh;
  padding-bottom: var(--cell-width);
}
.current {
  padding-top: calc(var(--cell-width) * 3);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1px;
  padding-bottom: calc(var(--cell-width) * 2);
}
.currentcell, .cell {
  color: white;
  border: 1px solid #413839;
  height: var(--cell-width);
  line-height: var(--cell-width);
  width: var(--cell-width);
  font-size: var(--cell-width);
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  text-transform: uppercase;
  pointer-events: none;
}
.activecell {
  border: 1px solid white;
  pointer-events: all;
  cursor: pointer;
}
.activecell:hover {
  background-color: #413839;
}

.currentcell {
  border: 1px solid white;
  background-color: grey;
}
.emptycell {
  border: none;
}
